<section class="welcome"> 


<div class="welcome__container">

<header class="welcome__container__header">
<h1 class="welcome__container__header__heading">welcome</h1>

</header>

<div class="welcome__container__center__box">

 <div>
<img src="../../assets/Welcome.jpg" width="100%" height="200px">
 </div>
 
 
 <footer class="welcome__container__center__box__footer u-margin-top-big">

<h5>Desgned By</h5>


<h1 class="u-margin-top-small">Lokesh Rokit</h1>

<h6 class="u-margin-top-small">rokitraina@gmail.com</h6>


 </footer>

</div>

</div>




</section>
