
  table {
    border-collapse: collapse;
    width: 100%;
    padding: 15px;
  }
  
  table td,
  table th {
    vertical-align: middle;
    border-top: 0.0625rem solid #f0f3f6;
    padding: 1rem;
    text-align: center;
  }
  .table__container{
padding: 10px;
  }